.admin-sidenav {
  width: auto;
  height: auto;
  margin-left: 0px;
}
.admin-sidenav a {
  text-decoration: none;
}
.admin-sidenav li {
  text-align: justify;
  padding: 0.5rem;
  padding-left: 1rem;
  transition: all 0.2s linear;
  background-color: #ff8000;
  border: 1px solid #ff8040;
}
.admin-sidenav li a {
  color: rgb(255, 255, 0);
}
.admin-sidenav li a:active {
  border-color: #ffff80;
}
.admin-sidenav li:hover {
  border-radius: 0 0.5rem 0.5rem 0;
  border-color: rgb(255, 128, 0);
  transform: translate(30px, 0px);
  background: linear-gradient(to right, #FFB400, rgb(255, 128, 0));
}
.admin-sidenav li:active {
  border-color: #02d3f5;
}
